@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

$c-dark: #112d4e;
$c-blue: #3f72af;
$c-light: #dbe2ef;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $c-dark;
  color: $c-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poster {
  -moz-user-select: none;
  user-select: none;
  box-shadow: 0 0 30px rgba(#000, 0.1);
  &-canvas {
    display: block;
    max-width: 100%;
    height: auto !important;
  }
  &-info {
    padding: 6%;
    text-align: center;
    background: $c-blue;
    color: $c-light;
  }
  &-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
  }
  &-description {
    margin: 10px 0;
    font-size: 11px;
    opacity: 0.5;
    letter-spacing: 0.8px;
    a {
      border-bottom: 1px solid rgba($c-light, 0.2);
    }
  }
}
