@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600");

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
}

canvas {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.github-link {
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid rgba(#000, 0.5);
  color: #000;
}
